@CHARSET "UTF-8";

/*검색 조건 및 엑셀 다운  */
#search_div{ 
	height: 10%;
	display: table;
	width: 100%;
	font-size: 0px;
}
#search_div>div{
	font-size: 0px;
}
#cat_select{
	display: inline-table;
    width: 55%;
    height: 100%;
    font-size: 0px;
    vertical-align: middle;
}
#cat_select>div{
	display: table-cell;
	vertical-align: middle;
	padding-left: 2%;
}
#cat_select>div>label{
	font-size: 3rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5%; 
}
#cat_select>div>select{
	font-size: 2.5rem;
	display: inline-block;
	 vertical-align: middle;
}
#cat_select>#main_cate{
	width: 38%;
}
#cat_select>#sub_cate{
	width: 58%;
}




#month_select{
	display: inline-table;
    width: 45%;
    height: 100%;
    font-size: 0px;
}
#month_select>label{
	display: table-cell;
	vertical-align: middle;
}
#month_select>select{
	font-size: 2.5rem;
	display: table-cell;
	 vertical-align: middle;
	 width: 20%;
	 margin-right: 5%;
}
#month_select>input{
	font-size: 3rem;
	display: table-cell;
	 vertical-align: middle;
	 width: 25%;
}
#month_select>input:hover{
	background-color: #fecd76;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px cornsilk;
}
#month_select>#do_excelDown{
	width: 12%;
    height: 35%;
    vertical-align: middle;
    margin-left: 6%;
}
#month_select>#do_excelDown:hover{
	cursor: pointer;
}


/*결과 테이블  */
#table{
	display: table;
	width: 100%;
	height: 80%;
}
#listTable{
	display: table;
	width: 100%;
	height: 100%;
	border: 1px solid gray;
	box-sizing: border-box;
	
}

/* 하단부 페이지 네이션 */
	#paging_div{
		display: table;
		height: 10%;
		width: 100%;
		text-align: center;
	}
	#pagination{
		list-style: none;
	  	display: table-cell;
	  	padding: 0px;
	  	margin: 0px;
	  	vertical-align: middle;
	}
	#pagination>li{
		display: inline-block;
  		text-align: center;
		
	}
	#pagination>li a{
	 	display: inline-block;
	    font-size: 16px;
	    font-weight: bold;
	    text-decoration: none;
	    padding: 5px 12px;
	    border: 1px solid transparent;
	    border-color: #ddd;
	    color: #005df7;
	    background: #ffffff;
	}
	#pagination>li a:hover {
	    color: #fecd76;
	    cursor: pointer;
	}
	#pagination>.disabled>a{
	  	color: gray;
	}
	#pagination>.disabled>a:hover{
		color: gray;
		cursor: no-drop;
	}
	#pagination>.active>a{
	 	background-color: #fecd76;
	 	color: white;
	}
	#pagination>.active>a:hover{
	 	color: white;
	}
	
	
