@CHARSET "UTF-8";

#body_div{
	background-color: white; 
	width: 800px;
	float: center;
	padding: 10px;
	
}

#search_div{
	background-color: white; 
	height: 20%;
}

#search_header{
	padding: 10px; 
	margin: 10px;
}

#cat_select{
	float: left; 
	width: 50%;
}

#month_select{
	float: right; 
	width: 40%
}

#search_content{
	padding: 10px; 
	margin: 10px;
}

#result_text{
	float: left; 
	width: 60%
}

#search_footer{
	padding: 10px; 
	margin: 10px;
}

#searchList{
	background-color: white; 
	height: 75%;
}

#listTable{
	border: 1px solid black;
	cellpadding: 1px;
	cellspacing: 1px;
	
}

#thead{
	background-color: #848484;
	align: center;
	valign: middle;
}

#paging_div{
	background-color: white;
}
