@CHARSET "UTF-8";
#sum,.dailyitem{
	border: 1px solid transparent;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px graytext;
}

#dailyTitle{
	background-color: white; 
	width: 100%; 
}
#plus{
	position: fixed;
    display: table;
    background-color: yellow;
    border-radius: 100%;
    border: 2.5px solid;
}
#plus>#icon{
	display: table-cell;
	text-align: center;
}
#total{
	list-style: none;
	width: 100%;
	display: inline-table;
	height: 100%;
}
#total>li{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 30%;
	font-weight: bold;
}
#total>#nowDate{
	width: 10%;
	font-weight: normal;
}
#total>#total_in>label{
	color: blue;
	font-weight: normal;
}
#total>#total_out>label{
	color: red;
	font-weight: normal;
}
#total>#total_sum>label{
	color: graytext;
	font-weight: normal;
}
.itemList{
	width: 100%;
	display: inline-table;
	cursor: pointer;
	height: inherit;
}
.itemList>li{
	display: table-cell;
	text-align: center;
	vertical-align: top;
	width: 20%;
	font-weight: lighter;
}
.itemList>li:hover{
	cursor: pointer;
}
.itemList>li>label:hover{
	cursor: pointer;
}
.itemList>.item_content{
	width: 60%;
    padding-left: 5%;
    text-align: left;
}
.up_del{
	width: 100%;
	display: inline-table;
	margin-top: 5px;
	box-shadow: 0px 0px 4px 1px steelblue;
}
.up_del>input{   
	display: table-cell;
	text-align: center;
	width: 50%;
	height: 100%;
}
.up_del>input:hover{
	background-color: blueviolet;
	box-shadow: inset 0px 0px 10px aliceblue;
	color:white;
	cursor: pointer;
}


