@CHARSET "UTF-8";

/*header 부분*/
	.header{
		width: 100%;
		font-size: 0px;
		text-align: center;
		background-color: #2c8a7b;
		position: absolute;
		top: 0px;
		color: #ecdd84
	}
	.sub_menu{
		width: 50%;
		display: inline-table;
		height: 100%;	
		background-color: #2c8a7b;
	}
	.sub_menu-label{ 
		font-size: 4rem;
		width: 100%;
		background-color: #2c8a7b;
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}
	.sub_menu-label:hover{
		cursor: pointer;
	}
	.sub_selector:checked+.sub_menu-label{
	    box-shadow: inset 0 0 40px #77f799;
	    font-weight: bold;
	    color: #fecd76;
	}
	.sub_selector{
		display: none;
	}
/*body 부분*/
	.bodyCover{
		width: 100%;
		overflow: hidden;
		position: absolute;
	}
	.body{
		overflow-y: scroll;
		position: relative;
		height: inherit;
	}
	#datepick{
		width:2.5rem; 
		height:2.5rem; 
		display: inline-block;
		background-image: url('/apps/resources/files/images/dateSelect.png'); 
		background-size: contain;
		vertical-align: middle;
		margin-left: 10px;
	}
#datepick>#selectedDate>.currentDate{
	display: table-cell;	
	vertical-align: middle;
	font-size: 0px;
	text-align: left;
}
#datepick>#selectedDate{
	display: table;
	height: 100%;
	width: 100%;
}
#datepick>#selectedDate>.currentDate:hover{
	cursor: pointer;
	box-shadow: inset 0 0 12px 2px aliceblue;
    border-radius: 10%;
}
#input_division{
	height: 80%;
	width: 100%;
	display: block;
}
#input_division>div{
	height: 15%;
	border-bottom: 2px solid graytext;
	font-size: 0px;
	display: table;
    width: 100%;
    table-layout: fixed;
}
#input_division>#content_division{
	height: 55%;
}
.input_title{
	width: 20%;
	display: table-cell;
	text-align: center;
	height: 100%;
	background-color: lightgray;
	vertical-align: middle;
	
}
.input_title>label{
	display: block;
	vertical-align: middle;
	font-size: 3rem;
    color: #2c8a7b;
}
.input_content{
	width: 80%;
	display: table-cell;
	text-align: left;
	height: 100%;
	font-size: 3rem;
	vertical-align: middle;
}
.input_content>input{
	margin-left: 20px;
	height: 3rem;
	width: 40%;
	font-size: 2.5rem
}
.input_content>.cates{
	display: inline-block;
    width: 20%;
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
}	
.input_content>.cates>.cateselect{
	display: none;
}
.input_content>.cates>.cateselect:checked+label{
       box-shadow: inset 0 0 20px aliceblue;
	   font-weight: bold;
	   color: #2c8a7b;
	   background-color: #fecd76;
	   border: 2px outset #77f799;
	}
.input_content>.cates>label{
    display: block;
    text-align: center;
	height: 90%;
	line-height: 150%;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	background-color: #ecdd84;
    border: 2px outset blanchedalmond;
    box-sizing: border-box;
}	
.input_content>.cates>label:hover{
	cursor: pointer
}	
#button_division{
	display: inline-table;
    width: 100%;
    text-align: center;
    height: 20%;
}
#up_save,#cancle{
	width: 20%;
    height: 40%;
    margin-right: 20px;
    background: #ecdd84;
    font-size: 3rem;
}
#up_save:hover,#cancle:hover{
	background-color: #fecd76;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px cornsilk;
}
#detail{
  border: 2px inset cornsilk;
}
/*footer 부분*/
.footer{
		position: absolute;
		width: 100%;
		background-color: #8fd7d4;
		
	}
	.main_menus{
		font-size: 0px;
		text-align: center;
	}
	.menu{
		width: 25%;
		display: inline-block;;
		height: inherit;	
	}
	.menu-label{ 
		font-size: 4rem;
		width: 100%;
		display: table;
		height: 100%;
	}
	.menu-label>a{
	    color: #2c8a7b;
		display: table-cell;
		vertical-align: middle;
		text-decoration: none;
	}
	.main_selector:checked+.menu-label>a{
	    box-shadow: inset 0 0 50px darkcyan;
	    font-weight: bold;
	    color: white;
	}
	.main_selector{
		display: none;
	}	