@CHARSET "UTF-8";
/*header 부분*/
	.header{
		width: 100%;
		font-size: 0px;
		text-align: center;
		background-color: aqua;
		position: absolute;
		top: 0px;
	}
	.sub_menu{
		width: 50%;
		display: inline-table;
		height: 100%;	
		background-color: aqua;
	}
	.sub_menu-label{ 
		font-size: 4rem;
		width: 100%;
		background-color: aqua;
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}
	.sub_menu-label:hover{
		cursor: pointer;
	}
	.sub_selector:checked+.sub_menu-label{
		box-shadow: inset 0 0 20px blue; 
		font-weight: bold;
	}
	.sub_selector{
		display: none;
	}
/*body 부분*/
	.bodyCover{
		width: 100%;
		overflow: hidden;
		position: absolute;
	}
	.body{
		overflow-y: scroll;
		position: relative;
		height: inherit;
	}

/*footer 부분*/
	.footer{
		position: absolute;
		width: 100%;
	}
	.main_menus{
		font-size: 0px;
		text-align: center;
	}
	.menu{
		width: 25%;
		display: inline-block;;
		height: inherit;	
		background-color: gray;
	}
	.menu-label{ 
		font-size: 4rem;
		width: 100%;
		background-color: gray;
		display: table;
		height: 100%;
	}
	.menu-label>a{
		color: white;
		display: table-cell;
		vertical-align: middle;
		text-decoration: none;
	}
	.main_selector:checked+.menu-label>a{
		color: yellow;
		box-shadow: inset 0 0 20px black; 
	}
	.main_selector{
		display: none;
	}	