@CHARSET "UTF-8";

.currentDate{
	display: table-cell;	
	vertical-align: middle;
	font-size: 6rem;
	text-align: left;
}
#selectedDate{
	display: table;
	height: 60px;
	width: 100%;
}
.currentDate:hover{
	cursor: pointer;
	box-shadow: inset 0 0 20px blue; 
}
.datepicker{
	width: 40%;
	font-size: 0px;
	position: absolute;
	background-color: white;
	min-width: 200px;
	
}
.datepicker>div{
	border: 2px solid;
	box-sizing: border-box;
}
.datepicker li{
	display: inline-table;
}
.datepicker input[type=button]{

}
.upperselect{
	margin-bottom: 10px;
}
.picker_contents>li{
	width: 25%;
}
.picker_contents>.contents_header{
	width: 100%;
}
.picker_contents>#contents_body{
	width: 100%;
}
#thedays>li{
	width: 14.28%;
}
#thedays{
	width: 100%;
	text-align: left;
}
#thedays>li:nth-child(7n+1)>input[type=button]{
	color:red;
}
.dayOfWeeks>li{
	width: 14.28%;
	height: 30px;
	color: white;
	font-size: 1rem;
	text-align: center;
	background-color: green;
}
.dayOfWeeks>li>label{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	font-size: 2.5rem;

}
.upperselect{
	width:100%;
}
.upperselect>li{
	width: 60%;
	text-align: center;
}
.upperselect>li:first-child,.upperselect>li:last-child{
	width:20%;
}

.btncal:hover{
	cursor: pointer;
	box-shadow: inset 0 0 10px aqua; 
	color: blue;
}
.btncal{
	display: table-cell;
	width: 100%;
	height: 30px;
	vertical-align: middle;
	background-color: transparent;
	border: 0px;
	padding: 0px;
	outline: 0px;
	font-size: 2.5rem;
}