@CHARSET "UTF-8";

.header{
	width: 100%;
	font-size: 0px;
	text-align: center;
	background-color: aqua;
}
#date {
 	width: 40%;
    height: 60px;
    float: left;
}
#balance{
	height: 60px;
    float: right;
    width: 20%;
    display: table;
    margin-right: 10%;
}
#balance>label{
	font-size: 1rem;
    vertical-align: middle;
    display: table-cell;
    text-align: right;
}
.sub_menu{
	width: 33.3%;
	display: inline-block;;
	height: 60px;	
	background-color: aqua;
}
.sub_menu-label{ 
	font-size: 1rem;
	width: 100%;
	background-color: aqua;
	display: table;
	height: 100%;
}
.sub_menu-label>a{
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
}
.sub_selector:checked+.sub_menu-label>a{
	box-shadow: inset 0 0 20px blue; 
	font-weight: bold;
}
.sub_selector{
	display: none;
}