@CHARSET "UTF-8";


/*footer 부분*/
	.footer{
		position: absolute;
		width: 100%;
		background-color: #8fd7d4;
		
	}
	.main_menus{
		font-size: 0px;
		text-align: center;
	}
	.menu{
		width: 33.3%;
		display: inline-block;;
		height: inherit;	
	}
	.menu-label{ 
		font-size: 4rem;
		width: 100%;
		display: table;
		height: 100%;
	}
	.menu-label>a{
	    color: #2c8a7b;
		display: table-cell;
		vertical-align: middle;
		text-decoration: none;
	}
	.main_selector:checked+.menu-label>a{
	    box-shadow: inset 0 0 50px darkcyan;
	    font-weight: bold;
	    color: white;
	}
	.main_selector{
		display: none;
	}	