@CHARSET "UTF-8";
#goBack{
	position: absolute;
    background-color: #ecdd84;
    font-weight: bold;
    font-size: 3em;
    line-height: 150%;
}
#goBack:hover{
	 background-color: #fecd76;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px cornsilk;
}
.body{
	width: 100%;
}
#missingIDFrm,#missingPWFrm{
    display: table;
    text-align: center;
    width: 70%;
    height: 40%;
    margin-top: 8%;
    margin-left: 15%;
	
}
#missingIDFrm>div,#missingPWFrm>div{
	display: table-cell;
	vertical-align: middle;
	background-color: #2c8a7b;
	box-sizing: border-box;
}
#missingIDFrm>div>div,#missingPWFrm>div>div{
	display: inline-table;
    width: 80%;
    height: 16%;
}
#missingIDFrm>div>div>input,#missingPWFrm>div>div>input{
	width: 80%;
	height: 80%;
	font-size: 2rem;
	padding-left: 10px; 
}
#missingIDFrm>div>.title,#missingPWFrm>div>.title{
	height: 30%;
}
.title>label{
	display: table-cell;
    color: #fecd76;
    font-size: 5rem;
    vertical-align: middle;
    font-weight: bold;
}
#missingIDFrm>div>div>#btn_ID,#missingPWFrm>div>div>#btn_PW{
	background-color: #ecdd84;
    font-weight: bold;	
    font-size: 3em;
	padding-left: 0px; 
}
#missingIDFrm>div>div>#btn_ID:hover,#missingPWFrm>div>div>#btn_PW:hover{
    background-color: #fecd76;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px cornsilk;
}
#missingIDFrm>div>#IDlabel>label,#missingPWFrm>div>#PWlabel>label{
	color: #f56360;
    font-size: 2.5rem;
    display: table-cell;
    vertical-align: middle;
}
#missingIDFrm>div>#IDlabel,#missingPWFrm>div>#PWlabel{
	height: 16%;
	display: inline-table;
}


