@CHARSET "UTF-8";

.body{
	width: 100%;
}
#updateFrm{
    display: table;
    text-align: center;
    width: 60%;
    height: 85%;
    margin-top: 5%;
    margin-left: 20%;
	
}
#updateFrm>div{
	display: table-cell;
	vertical-align: middle;
	background-color: #2c8a7b;
	box-sizing: border-box;
	font-size: 1.3rem;
}
#updateFrm>div>div{
	display: inline-block;
    width: 80%;
    height: 11%;
    text-align: left;
    margin-bottom: 2%;
}
#updateFrm>div>div>label{
	text-align: left;
    color: #ecdd84;
    width: 80%;
    margin-left: 10%;
}
#updateFrm>div>div>div{
	width: 80%;
    margin-left: 10%;
    height: 55%;
    margin-top: 1.5%;
}
#updateFrm>div>div>div input{
	display:inline-block;
	width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-left: 5px;
}
#buttons>#cancle,#buttons>#update,#buttons>#delete{
	width: 33.3%;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ecdd84;
}
#buttons>#cancle:hover,#buttons>#update:hover,#buttons>#delete:hover{
	background-color: #fecd76;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px cornsilk;
	
}
#updateFrm>div>div>#buttons{
	font-size: 0px;
	height: 95%;
	padding: 0px;
}

   