@CHARSET "UTF-8";
#updateFrm{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#updateFrm>div{
	margin-left: 20%;
	text-align: left;
}


/*footer 부분*/
	.footer{
		width: 100%;
	}
	.main_menus{
		font-size: 0px;
		text-align: center;
	}
	.menu{
		width: 25%;
		display: inline-block;;
		height: inherit;	
		background-color: gray;
	}
	.menu-label{ 
		font-size: 4rem;
		width: 100%;
		background-color: gray;
		display: table;
		height: 100%;
	}
	.menu-label>a{
		color: white;
		display: table-cell;
		vertical-align: middle;
		text-decoration: none;
	}
	.main_selector:checked+.menu-label>a{
		color: yellow;
		box-shadow: inset 0 0 20px black; 
	}
	.main_selector{
		display: none;
	}	