@CHARSET "UTF-8";

.body{
	width: 100%;
}
#updateFrm{
    display: table;
    text-align: center;
    width: 60%;
    height: 85%;
    margin-top: 5%;
    margin-left: 20%;
	
}
#updateFrm>div{
	display: table-cell;
	vertical-align: middle;
	background-color: #2c8a7b;
	box-sizing: border-box;
	font-size: 1.3rem;
}
#updateFrm>div>div{
	display: inline-block;
    width: 80%;
    height: 11%;
    text-align: left;
    margin-bottom: 2%;
}
#updateFrm>div>div>label{
	text-align: left;
    color: #ecdd84;
    width: 80%;
    margin-left: 10%;
}
#updateFrm>div>div>div{
	width: 80%;
    margin-left: 10%;
    height: 55%;
    margin-top: 1.5%;
}
#updateFrm>div>div>div input{
	display:inline-block;
	width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-left: 5px;
}
#buttons>#cancle,#buttons>#update,#buttons>#delete{
	width: 33.3%;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ecdd84;
}
#buttons>#cancle:hover,#buttons>#update:hover,#buttons>#delete:hover{
	background-color: #fecd76;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px cornsilk;
	
}
#updateFrm>div>div>#buttons{
	font-size: 0px;
	height: 95%;
	padding: 0px;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #fecd76;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control:focus {
  border-color: #fecd76;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #f56360;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #f56360;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}

#div_email{
	height: 15%
}
#div_email>label{
	height: 30%;
}
#div_email>div{
	height: 60%;
}
#div_email>div>#email{
	height: 70%;
}

   